{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Академия Lazylearn начала работу</h2>
        <p>16.08.2024</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Академия Lazylearn начала работу</h4>
                <p>
                    Состоялся релиз Академии машинного обучения и больших данных Lazylearn. Основная цель академии — повысить интерес отечественных разработчиков в области машинного обучени и больших данных, а также мотивировать их на новые исследования.
                    Для начинающих мы подготовли базовый курс по Python, который является основным языком для работы ml-инженера. Далее мы рекомендуем пройти курс по
                    основам машинного обучения, который включает в себя первичные навыки работы с данными и ml-моделями. После прохождения базовых курсов
                    предлагаем выбрать область интереса: классическое машинное обучение, нейронные сети, аналитика или отраслевые модели (например, модели компьютерного зрения).
                </p>
                <p>
                    В планах Академии создание комьюнити инженеров машинного обучения для реализации иновационных
                    проектов на открытой основе, а также обсуждения вопросов, которые актуальны в современной разработке.
                </p>
                <p>
                    Проект открыт к сотрудничеству, поэтому вопросы и предложения можно направить, связавшись одним из способов на вкладке связи. Так же вы
                    можете помочь проекту на соответствующей вкладке.
                </p>
                <p>
                    Желаем удачи,<br/>
                    Академия Lazylearn
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card"><a id="back-link" href="{{ url_for('blog') }}">все статьи</a></p></div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}