{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Об Академии</h2>
        <div class="content-divider-top"></div>
        <p>Академия машинного обучения и обработки больших данных Lazylearn основана в 2024 году разработчиками, которые практикуют прикладное машинное обучение для решения задач из различных сфер. 
           В ходе работы с различными командами был выявлен ряд проблем, которые испытывают даже опытные программисты. Так же было замечено,
           что не существует единой открытой структурированной и бесплатной системы обучения. Объединив накопленный опыт, мы создали ряд курсов, которые
           помогут разобраться в программировании, особенно в области ИИ.
        </p>
        <div class="content-divider-top"></div>
        <p>Основная цель Академии — повысить интерес отечественных разработчиков в области машинного обучени и больших данных, а также мотивировать их на новые исследования.
           Для начинающих мы подготовли базовый курс по Python, который является основным языком для работы ml-инженера. Далее мы рекомендуем пройти курс по
           основам машинного обучения, который включает в себя первичные навыки работы с данными и ml-моделями. После прохождения базовых курсов
           предлагаем выбрать область интереса: классическое машинное обучение, нейронные сети, аналитика или отраслевые модели (например, модели компьютерного зрения).
        </p>
        <div class="content-divider-top"></div>
        <p>Курсы рассчитаны на самообучение, поэтому необходимо не только читать лекции, но и выполнять предложенные практические задания.
           Скоро мы планируем сделать открытое комьюнити проекта, в котором каждый сможет задать вопросы по материалам, а также обсудить новые интересные темы.
        </p>
        <div class="content-divider-top"></div>
        <p>Проект открыт к сотрудничеству, поэтому вопросы и предложения можно направить, связавшись одним из способов на вкладке связи.
           Так же вы можете помочь проекту на соответствующей вкладке.
        </p>
        <div class="content-divider-top"></div>
    </main>
{% endblock %}