{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Блог</h2>
        <p id="header-p">Академия машинного обучения и обработки больших данных</p>
        <div class="content-divider-top"></div>
        {% for blogpost in blogposts%}
        <div class="card-wrapper">
            <a href="{{ url_for('get_blogpost', blogpost_id=blogpost.id) }}" class="card">
                <h4>{{ blogpost.name }}</h4>
                <p>{{ blogpost.created_at.strftime('%Y-%m-%d') }}</p>
                <p>
                   {{ blogpost.abstract }}
                </p>
            </a>
        </div>
        {% endfor %}
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}