{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='change_password.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Восстановление пароля</h2>
        <div class="content-divider-top"></div>
            <div class="form-wrapper">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.password(size=25, class_='form-item') }}
                    {{ form.password_repeat(size=25, class_='form-item') }}
                    {{ form.submit(size=25, class_='form-item') }}
                </form>
                <p class="error">{{ error }}</p>
            </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}