{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='courses.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Курсы</h2>
        <p>Академия машинного обучения и обработки больших данных</p>
        <div class="content-divider-top"></div>
        {% for i in range(0, course_items|length, 2) %}
            {% if i + 1 == course_items|length %}
                <div class="card-wrapper">
                    {% if course_items[i].is_ready %}
                    <a href="{{ url_for('get_course', course_id=course_items[i].id) }}" class="card">
                        <h4>{{ course_items[i].name }}</h4>
                        <p>{{ course_items[i].short_description }}</p>
                    </a>
                    {% else %}
                    <a href="#" class="card" aria-current="disabled">
                        <h4>{{ course_items[i].name }}</h4>
                        <p>{{ course_items[i].short_description }}</p>
                        <span class="coming-soon">скоро!</span>
                    </a>
                    {% endif %}
                </div>
            {% else %}
            <div class="card-wrapper">
                {% if course_items[i].is_ready %}
                <a href="{{ url_for('get_course', course_id=course_items[i].id) }}" class="card">
                    <h4>{{ course_items[i].name }}</h4>
                    <p>{{ course_items[i].short_description }}</p>
                </a>
                {% else %}
                <a href="#" class="card" aria-current="disabled">
                    <h4>{{ course_items[i].name }}</h4>
                    <p>{{ course_items[i].short_description }}</p>
                    <span class="coming-soon">скоро!</span>
                </a>
                {% endif %}
                {% if course_items[i+1].is_ready %}
                <a href="{{ url_for('get_course', course_id=course_items[i+1].id) }}" class="card">
                    <h4>{{ course_items[i+1].name }}</h4>
                    <p>{{ course_items[i+1].short_description }}</p>
                </a>
                {% else %}
                <a href="#" class="card" aria-current="disabled">
                    <h4>{{ course_items[i+1].name }}</h4>
                    <p>{{ course_items[i+1].short_description }}</p>
                    <span class="coming-soon">скоро!</span>
                </a>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}