{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>lazylearn.academy</h2>
        <p>Академия машинного обучения и обработки больших данных</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Полностью бесплатное обучение</h4>
                <p>Задача Академии — повысить уровень знаний разработчиков и мотивировать их на исследования в области ИИ, поэтому все курсы абсолютно бесплатны. Вы можете поддержать проект на вкладке помощи проекту.</p>
            </div>
            <div class="card">
                <h4>Высокий уровень материала</h4>
                <p>Все курсы Академии написаны профессионалами, которые следят за качеством и актуальностью лекций. Новички могут быстро изучить основы программирования, а более продвинутые пользователи — улучшить свои навыки.</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Выбор специализации</h4>
                <p>Получив базовые знания, можно осознанно выбрать дальнейшее направление. Академия реализует подготовку по классическому машинному обучению, нейронным сетям, работе с данными и разработке.</p>
            </div>
            <div class="card">
                <h4>Комьюнити</h4>
                <p>Следующим большим шагом Академии является создание сообщества разработчиков, в котором будут обсуждаться вопросы по ИИ, новинки в ИТ-сфере и многое другое.</p>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}