{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>lazylearn.academy</h2>
        <p>Академия машинного обучения и обработки больших данных</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>{{ advantages[0].name }}</h4>
                <p>{{ advantages[0].text }}</p>
            </div>
            <div class="card">
                <h4>{{ advantages[1].name }}</h4>
                <p>{{ advantages[1].text }}</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>{{ advantages[2].name }}</h4>
                <p>{{ advantages[2].text }}</p>
            </div>
            <div class="card">
                <h4>{{ advantages[3].name }}</h4>
                <p>{{ advantages[3].text }}</p>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}