{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lk.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Личный кабинет</h2>
        <div class="content-divider-top"></div>
            <p>Добро пожаловать, {{ user.name }}!</p>
            <div class="card-wrapper">
                <div class="card">
                    <h4>Мои курсы</h4>
                    {% for course_info in courses_stats %}
                    <p><a href= "{{ url_for('get_course', course_id=course_info[0].id) }}"> 
                        {{ course_info[0].name }} <span style="color: rgb(27, 209, 27);">пройдено {{ course_info[1] }} из {{ course_info[2] }} тем</span>
                     </a></p>
                    {% endfor %}
                </div>
            </div> 
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}