{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='recover_confirm.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Восстановление пароля</h2>
        <div class="content-divider-top"></div>
            <div class="form-wrapper">
                <h3>Подтвердите email</h3>
                <p>Мы отправили код подтверждения на указанную почту</p>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.verification_code(size=12, class_='form-item') }}
                    {{ form.submit(size=12, class_='form-item') }}
                </form>
                <p class="error">{{ error }}</p>
            </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}