{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>{{ theme_item.name }}</h2>
        <p>Курс {{ course_name }}. блок {{ block_order_in_course }}, тема {{ theme_item.order_in_block }}.</p>
        <div class="content-divider-top"></div>
        {{ theme_item.article_text|safe }}
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_id=course_id) }}">назад к курсу</a>
                {% if next_theme_id is none %}
                    <a id="prev-theme-link" href="{{ url_for('get_theme', theme_id=previous_theme_id) }}">предыдущая тема</a>
                {% elif previous_theme_id is none %}
                    <a id="next-theme-link" href="{{ url_for('get_theme', theme_id=next_theme_id) }}">следующая тема</a>
                {% else %}
                    <a id="prev-theme-link" href="{{ url_for('get_theme', theme_id=previous_theme_id) }}">предыдущая тема</a>
                    <a id="next-theme-link" href="{{ url_for('get_theme', theme_id=next_theme_id) }}">следующая тема</a>
                {% endif %}
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}