{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>{{ theme_item.name }}</h2>
        <p>Курс {{ course_name }}. блок {{ block_order_in_course }}, тема {{ theme_item.order_in_block }}.</p>
        <div class="content-divider-top"></div>
        {{ theme_item.article_text|safe }}
        {% if theme_item.coding_tasks|length > 0 %}
        <div class="card-wrapper">
            <div class="card">
                <h4>Задания</h4>
                {% for coding_task in theme_item.coding_tasks %}
                    {% if coding_task.id in user.completed_coding_tasks %}
                        <p>{{ loop.index }}) {{ coding_task.task_text }}<a style="color: rgb(27, 209, 27);" class="sandbox-link" href="{{ url_for('sandbox', task_id=coding_task.id) }}">Решено!</a></p>
                    {% else %}
                        <p>{{ loop.index }}) {{ coding_task.task_text }}<a class="sandbox-link" href="{{ url_for('sandbox', task_id=coding_task.id) }}">Решить</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_id=course_id) }}">назад к курсу</a>
                {% if next_theme_id is none %}
                    <a id="prev-theme-link" href="{{ url_for('get_theme', theme_id=previous_theme_id) }}">предыдущая тема</a>
                {% elif previous_theme_id is none %}
                    <a id="next-theme-link" href="{{ url_for('get_theme', theme_id=next_theme_id) }}">следующая тема</a>
                {% else %}
                    <a id="prev-theme-link" href="{{ url_for('get_theme', theme_id=previous_theme_id) }}">предыдущая тема</a>
                    <a id="next-theme-link" href="{{ url_for('get_theme', theme_id=next_theme_id) }}">следующая тема</a>
                {% endif %}
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}