{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>О python. Установка</h2>
        <p>Курс Python (базовый)
            <br>Блок 1, тема 1</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Сведения о языке</h4>
                <p>
                    Python — это высокоуровневый язык программирования, который стал одним из самых популярных языков в мире разработки. Он используется в веб-разработке, аналитике данных, искусственном интеллекте и многих других областях.
                </p>
                <p>
                    Python был разработан Гвидо ван Россумом в конце <nobr>1980-х</nobr> и начале <nobr>1990-х</nobr> годов. Он работал над этим языком в качестве своего хобби,
                    стремясь создать язык программирования, который был бы удобным для начинающих программистов и ученых.

                    В 1991 году Гвидо ван Россум выпустил первую версию Python — Python 0.9.0. Это была простая и
                    минималистичная версия языка, но она уже имела множество полезных элементов, таких как функции, циклы и условные операторы.
                </p>
                <p>
                    Почему Python?
                    <ul>
                        <li><p>Простота и читаемость: Синтаксис Python интуитивно понятен, что облегчает изучение языка.</p></li>
                        <li><p>Богатая библиотека: Python имеет огромное количество сторонних библиотек (простыми словами, готовый код, который можно использовать в своей программе) и фреймворков.</p></li>
                        <li><p>Сообщество: Большое и активное сообщество всегда готово помочь и поделиться знаниями.</p></li>
                    </ul>
                </p>
                <p>
                    Благодаря своим плюсам Python активно используется в машинном обучении, где важна простота и понятность кода, 
                    а также большое число библиотек для обработки данных и построения моделей.
                </p>
                <p>Основной минус Python — скорость выполнения кода. Она важна в высоконагруженных сервисах, а в машинном обучении
                   главные критерии — простота и производительность.
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Установка</h4>
                <p>
                    Установка Python
                    <ul>
                        <li><p>Перейдите на официальный сайт: Зайдите на <a href="https://www.python.org/" target="_blank">python.org</a>.</p></li>
                        <li><p>Выбор версии: На главной странице вы увидите кнопку для скачивания последней стабильной версии Python. Нажмите на неё.</p></li>
                        <li><p>Загрузка инсталлятора: Выберите соответствующий инсталлятор для вашей операционной системы (Windows, macOS, Linux).</p></li>
                        <li><p>Запуск установки: После загрузки запустите инсталлятор. Важно: на экране установки убедитесь, что вы отметили опцию "Add Python to PATH". Это позволит запускать Python из командной строки.</p></li>
                        <li><p>Завершение установки: Следуйте инструкциям установщика. После завершения процесса вы сможете проверить успешность установки.</p></li>
                    </ul>
                </p>
                <p>
                    Проверка установки:
                    <ul>
                        <li><p>Откройте командную строку (cmd на Windows, Terminal на macOS и Linux).</p></li>
                        <li><p>Введите команду:<pre><code>python --version</code></pre></p></li>
                    </ul>
                </p>
                <p> Если установка прошла успешно, вы увидите установленную версию Python.</p>
                <p>
                    Удобно вести разработку в среде разработки IDE. Мы рекомендуем <a href="https://www.jetbrains.com/pycharm/" target="_blank">PyCharm</a> или <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>.
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Задания</h4>
                <p>Установите на свой ПК Python и среду разработки IDE.</p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Где используется Python?</p></li>
                        <li><p>Какие плюсы и минусы разработки на Python?</p></li>
                        <li><p>Как установить Python?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='first_program') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}