{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>булевые переменные</h2>
        <p>Курс Python (базовый). блок 3, тема 1.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>булевые переменные</h4>
                <p>
                    Булевы переменные — это переменные, которые могут принимать только два значения: 
                    True (истина) и False (ложь). Они играют ключевую роль в логических операциях, 
                    условных выражениях и управлении потоками исполнения в программах. Например мы можем присвоить булевой переменной значение 
                    активен ли пользователь и закончени ли некий процесс (пример ниже). Условные выражения 
                    мы разберем в следующей теме, пока что запомните что представляют булевы переменные.
                </p>
                <p>
                    В Python булевы переменные создаются просто присваиванием значения True или False.
                    <pre><code>is_active = True<br/>is_complete = False</code></pre>
                </p>
                <p>Важно отметить, что True и False в Python являются специальными значениями и пишутся с заглавной буквы.</p>
                <p>
                    Булевы переменные могут быть использованы с логическими операциями:
                    <ul>
                        <li><p>AND (и) – возвращает True, если оба операнда истинны.</p></li>
                        <li><p>OR (или) – возвращает True, если хотя бы один из операндов истинен.</p></li>
                        <li><p>NOT (не) – инвертирует значение (истина становится ложью и наоборот).</p></li>
                    </ul>
                </p>
                <p>
                    Примеры логичеких операций:
                    <pre><code>a = True<br/>b = False<br/>print(a and b)  # Вывод: False<br/>print(a or b)   # Вывод: True<br/>print(not a)    # Вывод: False<br/></code></pre>
                </p>
                <p>
                    Python имеет встроенные функции для преобразования значений в булевы типы:
                    <ul>
                        <li><p>bool(0) возвращает False</p></li>
                        <li><p>bool(1) возвращает True</p></li>
                        <li><p> bool("") возвращает False</p></li>
                        <li><p>bool("Hello") возвращает True</p></li>
                        <li><p>bool([]) возвращает False</p></li>
                        <li><p>bool([1, 2, 3]) возвращает True</p></li>
                    </ul>
                </p>
                <p>
                    Булевы переменные часто используются в различных областях программирования:
                    <ul>
                        <li><p>Проверка условий на уровне бизнес-логики.</p></li>
                        <li><p>Управление доступом и аутентификация пользователей.</p></li>
                        <li><p>Управление состоянием объектов.</p></li>
                        <li><p>Логические тесты и валидация данных.</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Напишите программу, которая инвертирует значение созданной вами переменной и выведет его в консоль</p>
                <p>Напишите программу, которая получает от пользователя число (помните про преобразование типов1) и выводит 
                    в консоль false если число равно 0, иначе True. 
                </p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Что такое булевая переменная?</p></li>
                        <li><p>Где применяются булевые переменные?</p></li>
                        <li><p>Какие существуют особенности преобразования типов при работе с булевыми переменными?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_convertion') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='if_construction') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}