{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>Python (базовый)</h2>
        <p>Курс для тех, кто только начинает погружаться в разработку. Python — основной язык программирования в сфере машинного обучения и обработки данных.
            Освоив материал, предложенный здесь, вы сможете
            уверенно обучаться по остальным программам. 
        </p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Общие сведения</h4>
                <p><a href= "{{ url_for('get_theme', course_name='python_basic', theme_name='about_python') }}"> 
                    1) О python. Установка
                 </a></p>
                 <p><a href= "{{ url_for('get_theme', course_name='python_basic', theme_name='first_program') }}"> 
                    2) Первая программа и правила оформления кода
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Переменные и типы данных</h4>
                <p><a href= "{{ url_for('get_theme', course_name='python_basic', theme_name='variables_review') }}"> 
                    1) Обзор
                 </a></p>
                 <p><a href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_numbers') }}"> 
                    2) Числа
                 </a></p>
                 <p><a href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_strings_input') }}"> 
                    3) Строки. Пользовательский ввод
                 </a></p>
                 <p><a href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_convertion') }}"> 
                    4) Преобразование типов
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Ветвление. Условные выражения. Конструкция if</h4>
                <p><a href= "{{ url_for('get_theme', course_name='python_basic', theme_name='boolean_variables') }}"> 
                    1) Булевые переменные
                 </a></p>
                 <p><a href= "{{ url_for('get_theme', course_name='python_basic', theme_name='if_construction') }}"> 
                    2) If, elif, else
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Циклы</h4>
                <p><a href="{{ url_for('get_theme', course_name='python_basic', theme_name='for_loop') }}"> 
                    1) Цикл for
                 </a></p>
                 <p><a href="{{ url_for('get_theme', course_name='python_basic', theme_name='while_loop') }}">
                    2) Цикл while
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Коллекции</h4>
                <p><a href= "#"> 
                    1) Списки
                 </a></p>
                 <p><a href= "#"> 
                    2) Кортежи
                 </a></p>
                 <p><a href= "#"> 
                    3) Множества
                 </a></p>
                 <p><a href= "#"> 
                    4) Словари
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Функции</h4>
                <p><a href= "#"> 
                    1) Введение в функции
                 </a></p>
                 <p><a href= "#"> 
                    2) Функции 2
                 </a></p>
                 <p><a href= "#"> 
                    3) Lambda-выражения
                 </a></p>
                 <p><a href= "#"> 
                    4) Декораторы
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Работа с файлами</h4>
                <p><a href= "#"> 
                    1) Операции при работе с файлами
                 </a></p>
                 <p><a href= "#"> 
                    2) Менеджер контекста
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Введение в ООП</h4>
                <p><a href= "#"> 
                    1) Теория. Принципы ооп. Классы и объекты
                 </a></p>
                 <p><a href= "#"> 
                    2) Практика. Написание классов
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Обработка исключений</h4>
                <p><a href= "#"> 
                    1) Try-except-finally
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Встроенные модули</h4>
                <p><a href= "#"> 
                    1) Импорт модуля
                 </a></p>
                 <p><a href= "#"> 
                    2) Модуль os
                 </a></p>
                 <p><a href= "#"> 
                    3) Модули time и datetime
                 </a></p>
                 <p><a href= "#"> 
                    4) Модули math и random
                 </a></p>
                 <p><a href= "#"> 
                    5) Модуль re. Регулярные выражения
                 </a></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>Сторонние библиотеки</h4>
                <p><a href= "#"> 
                    1) Установка и импорт библиотеки
                 </a></p>
                 <p><a href= "#"> 
                    2) Практика. Библиотека numpy
                 </a></p>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}