{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>первая программа и правила оформления кода</h2>
        <p>Курс Python (базовый). блок 1, тема 2.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>программа</h4>
                <p>
                    Программа — это последовательность инструкций, написанных на определенном языке программирования, которая выполняет конкретную задачу. Программы могут варьироваться от простейших (например, вывод "Hello, World!") до сложных систем, таких как операционные системы или веб-приложения.
                </p>
                <p>
                    Программа обычно состоит из следующих компонентов:
                    <ul>
                        <li><p>Исходный код: Текст, написанный на языке программирования, который содержит все инструкции для выполнения. Код пишется в текстовом редакторе или интегрированной среде разработки (IDE).</p></li>
                        <li><p>Алгоритмы: Четкие шаги, которые описывают логику выполнения задач. Каждый алгоритм может быть реализован в программе с помощью кода.</p></li>
                        <li><p>Данные: Входные или выходные значения, которые программа использует во время выполнения. Данные могут храниться в переменных, списках, кортежах и других структурах данных.</p></li>
                        <li><p>Функции: Блоки кода, которые выполняют определенные задачи. Функции позволяют организовать код и повторно использовать его.</p></li>
                    </ul>
                </p>
                <p>Со всеми частями программ мы познакомимся в ходе курса, а пока что напишем и разберем нашу первую программу.</p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>практика</h4>
                <p>
                    Давайте напишем нашу первую программу на Python, состоящую из одной инструкции. Наша цель — вывести на экран фразу "Hello, World!".                
                </p>
                <pre><code>print("Hello, world!")</code></pre>
                <p>
                    Объяснение кода:
                    <ul>
                        <li><p>print() — это встроенная функция в Python, которая выводит текст или значения переменных на экран.</p></li>
                        <li><p>"Hello, World!" — это строка текста, которую мы хотим вывести.</p></li>
                    </ul>
                </p>
                <p>
                    Теперь давайте запустим программу:
                    <ul>
                        <li><p>Откройте IDE, например, PyCharm или VSCode.</p></li>
                        <li><p>Создайте новый файл с расширением .py, например, hello.py.</p></li>
                        <li><p>Вставьте код в файл и сохраните изменения.</p></li>
                        <li><p>Запустите программу с помощью командной строки:
                            <pre><code>python hello.py</code></pre>
                        </p></li>
                    </ul>
                </p>
                <p>
                    В результате на экране в командной строке должна появиться строка "Hello, world!"
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>правила оформления кода</h4>
                <p>
                    Мы написали программу из одной инструкции, но обычно инструкций много. Чтобы программа работала без ошибок и все инструкции
                    выполнялись нужно следовать правилам оформления кода. Также оформлять код правильно нужно, чтобы не запутать в нем 
                    себя и товарищей.
                </p>
                <p>
                    Программа обычно состоит из следующих компонентов:
                    <ul>
                        <li><p>Новые инструкции помещаются с начала строки. Например:
                            <pre><code>a = 2<br/>b = 2<br/>print(a + b)</code></pre>
                        </p></li>
                        <li><p>В некоторых конструкциях необходи отступ 4 пробела или символ табуляции. Во всей программе отступы должны быть выполнены одним из этих способов. Пример программы с отступом:
                            <pre><code>a = 2<br/>b = 3<br/>if a > b:<br/>    print(a + b)</code></pre>
                        </p></li>
                        <li><p>Регистры в python имеют значение, например функция print не выполнится если допустить ошибку и написать Print.</p></li>
                        <li><p>Для лучшей читаемости кода следует добавлять комментарии. Комментарии должны помогать разработчику быстрее и правильнее разобраться в коде. Комментарии, указанные в коде, не выполняются. Бывают однострочные комментарии (# комментарий):
                            <pre><code># сложение двух чисел в Python<br/>a = 2<br/>b = 2<br/>print(a + b)</code></pre>
                            и многострочные ("""комментарий"""):
                            <pre><code>"""<br/>  сложение двух чисел<br/>  в Python<br/>"""<br/>a = 2<br/>b = 2<br/>print(a + b)</code></pre>
                        </p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Напишите программу, которая выводит в консоль строку "Привет, как дела?"</p>
                <p>
                    Найдите три ошибки в программе:
                    <pre><code>a = 2<br/>    b = 3<br/>if a > b:<br/>PRINT(a + b)</code></pre>
                </p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Что такое программа?</p></li>
                        <li><p>Из чего может состоять программа?</p></li>
                        <li><p>Какие сущетсвуют правила оформления кода программы?</p></li>
                        <li><p>Зачем нужны комментарии и как их сделать?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='about_python') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_review') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}