{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>цикл for</h2>
        <p>Курс Python (базовый). блок 4, тема 1.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>циклы. введение</h4>
                <p>
                    Циклы в программировании — это конструкции, которые позволяют выполнять один и тот же блок кода несколько раз, 
                    что существенно упрощает работу с повторяющимися задачами. Существует несколько типов циклов, 
                    но наиболее распространенными являются for и while. Цикл for обычно используется, когда известно 
                    количество итераций заранее, например, для перебора элементов массива. Он включает инициализацию счетчика, 
                    условие продолжения и изменение счетчика в каждой итерации. Цикл while, 
                    с другой стороны, выполняется до тех пор, пока заданное условие истинно, 
                    что делает его более гибким, но требует более тщательного контроля, 
                    чтобы избежать бесконечных циклов. Циклы позволяют программам быстро обрабатывать 
                    большие объемы данных, автоматизировать повторяющиеся задачи и значительно упрощают программирование. 
                </p>
                <p>
                    Пример цикла без кода можно представить на простом бытовом примере.<br/>
                    Представьте себе, что вы готовите обед и хотите нарезать 10 картофелин для супа. Каждый раз, когда вы берёте новую картофелину, вы следуете одному и тому же процессу: 
                    <ul>
                        <li><p>Достаете картофелину.</p></li>
                        <li><p>Режете её на кусочки.</p></li>
                        <li><p>Убираете нарезанную картошку в кастрюлю.</p></li>
                    </ul>
                </p>
                <p>
                    Вы повторяете этот процесс до тех пор, пока не нарежете все 10 картофелин.<br/>

                    Таким образом, вы выполняете один и тот же набор действий многократно, пока не достигнете своей цели — нарезки всех картофелин, что является идеальным примером работы цикла.
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>цикл for</h4>
                <p>
                    Цикл for — это один из наиболее распространенных конструкций управления потоком выполнения в программировании, 
                    который позволяет повторять блок кода заданное количество раз или итерироваться по элементам коллекции 
                    (например, массивов или списков).
                </p>
                <p>
                    Цикл for обычно имеет три основных компонента:
                    <ul>
                        <li><p>Инициализация: определение переменной счетчика.</p></li>
                        <li><p>Условие: определение момента, когда цикл должен остановиться.</p></li>
                        <li><p>Увеличение/уменьшение: изменение значения переменной счетчика на каждой итерации.</p></li>
                    </ul>
                </p>
                <p>
                    Пример на языке Python:
                    <pre><code>for i in range(5):  # Инициализация (i = 0) и условие (i < 5)<br/>    print(i)        # Тело цикла</code></pre>
                </p>
                <p>
                    Вывод:
                    <pre><code>0<br/>1<br/>2<br/>3<br/>4</code></pre>
                </p>
                <p>
                    В Python функция range() используется для создания последовательности целых чисел и часто 
                    применяется в циклах for. Она может принимать от одного до трёх аргументов: 
                    один аргумент указывает верхний предел (не включительно), 
                    два — задают начальное и конечное значения, а три — задают начальное значение, 
                    конечное значение и шаг (приращение). Например, range(5) создаёт последовательность 
                    от 0 до 4, range(2, 6) — от 2 до 5, а range(1, 10, 2) — от 1 до 9 с шагом 2. 
                    Эта функция возвращает итерируемый объект, который можно преобразовать в список с помощью list().
                </p>
                <p>
                    Цикл for также может использоваться для перебора элементов коллекций, таких как списки или строки. Обратите внимание на синтаксис,
                    здесь в переменной i хранится текущее значение жлемента в последовательности.
                    <br/>
                    Пример:
                    <pre><code>s = "hello"<br/>for i in s:<br/>    print(i)</code></pre>
                </p>
                <p>
                    Вывод:
                    <pre><code>h<br/>e<br/>l<br/>l<br/>o</code></pre>
                </p>
                <p>
                    Тот же результат даст код (здесь мы имеем доступ к элементам последовательности по индексу):
                    <pre><code>s = "hello"<br/>for i range(len(s)) in s:<br/>    print(s[i])</code></pre>
                </p>
                <p>
                    Вложенные циклы for позволяют итерироваться по множеству элементов внутри другого цикла.
                     Например, если мы хотим вывести все возможные комбинации чисел и букв, мы можем
                    использовать следующий код:
                    <pre><code>numbers = "123"<br/>letters = "abc"<br/>for number in numbers:<br/>    for letter in letters:<br/>        print(number, letter)</code></pre>
                </p>
                <p>
                    В этом примере две строки: numbers и letters. Внешний цикл проходит по каждому элементу из строки numbers,
                     в то время как внутренний цикл проходит по каждому элементу из строки letters. На каждой итерации 
                     внутреннего цикла происходит вывод текущего числа (из внешнего цикла) и буквы (из внутреннего цикла). 
                     <br/>
                     Таким образом, вывод будет следующим:
                     <pre><code>1 a<br/>1 b<br/>1 c<br/>2 a<br/>2 b<br/>2 c<br/>3 a<br/>3 b<br/>3 c</code></pre>
                </p>
                <p>
                    Этот подход позволяет эффективно обрабатывать многомерные структуры данных, такие как матрицы или таблицы.
                </p>
                <p>
                    Цикл for является мощным инструментом и находит применение во многих сценариях:

                    - Обработка данных в массиве.
                    - Генерация последовательностей.
                    - Итерация по символам строки.
                    - Выполнение задач с заданным количеством повторений
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Задача 1: Напишите программу, которая выводит по одному символу на строку из заданной строки. Например, для строки "Привет" результат должен быть:<br/>  
                    П<br/>  
                    р<br/>
                    и<br/>  
                    в<br/>  
                    е<br/>  
                    т</p>
                    
                    <p>Задача 2: Создайте строку, содержащую числа от 1 до 10, разделенные запятыми (например, "1, 2, 3, 4, 5, 6, 7, 8, 9, 10"). Используйте цикл for, чтобы пройтись по этому диапазону и сформировать строку.</p>
                    
                    <p>Задача 3: Напишите программу, которая принимает строку, и затем создает новую строку, содержащую только те символы, которые имеют четные индексы. Например, для строки "abcdef" необходимо получить "ace".</p>
                    
                    <p>Задача 4: Создайте строку, содержащую слова, разделенные пробелами. Напишите программу, которая подсчитывает количество букв "а" в каждом слове и выводит количество для каждого слова. 
                        Например, для строки "арбуз яблоко ананас" результат должен быть:<br/>  
                    арбуз: 1<br/>  
                    яблоко: 1<br/>  
                    ананас: 2</p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Что такое цикл? Приведите пример цикла из жизни.</p></li>
                        <li><p>Какие циклы есть в Python?</p></li>
                        <li><p>Как работает цикл for? Какой синтаксис?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='if_construction') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='while_loop') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}