{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>преобразование типов</h2>
        <p>Курс Python (базовый). блок 2, тема 4.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>преобразование типов</h4>
                <p>
                    Преобразование типов данных (или кастинг) — это процесс изменения типа переменной. 
                    В Python существует несколько встроенных функций, которые позволяют преобразовывать данные между различными типами. 
                    Понимание и правильное использование этих функций — важный аспект работы с данными в программировании.

                    Преобразование типов данных может потребоваться в различных ситуациях:
                    <ul>
                        <li><p>Когда необходимо выполнять арифметические операции между разными типами (например, строками и числами).</p></li>
                        <li><p>Для выполнения сравнений между данными разного типа.</p></li>
                        <li><p>Когда данные поступают из источников, которые могут иметь разные форматы (например, данные из файлов или пользовательский ввод).</p></li>
                    </ul>
                </p>
                <p>Вот несколько основных функций для преобразования типов данных в Python:
                    <ul>
                        <li><p>int(): преобразует данные в целое число.</p></li>
                        <li><p>float(): преобразует данные в число с плавающей запятой.</p></li>
                        <li><p>str(): преобразует данные в строку.</p></li>
                        <li><p>list(): преобразует данные в список.</p></li>
                        <li><p>tuple(): преобразует данные в кортеж.</p></li>
                        <li><p>set(): преобразует данные в множество.</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>примеры</h4>
                <p>
                    Функция type показывает тип переменной. С помощью нее будем проверять получилось ли преобразование.
                    <ul>
                        <li>
                            <p>
                                Преобразование в целое число
                                <pre><code>num1 = "42"<br/>num2 = int(num1)<br/>print(num2)  # Вывод: 42<br/>print(type(num2))  # Вывод: class 'int'<br/></code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                Преобразование в вещественное число
                                <pre><code>num1 = "2.34"<br/>num2 = float(num1)<br/>float(num2)  # Вывод: 42<br/>print(type(num2))  # Вывод: class 'float'<br/></code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                Преобразование в строку
                                <pre><code>num = 100<br/>s = str(num)<br/>print(s)  # Вывод: "100"<br/>print(type(s))  # Вывод: class 'str'</code></pre>
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>важные моменты</h4>
                <p>Потеря данных: При преобразовании типов может произойти потеря данных. 
                    Например, преобразование числа с плавающей запятой во целое число приведет к округлению.
                    <pre><code>num1 = 3.9<br/>num2 = int(num1)  # Вывод: 3</code></pre>
                </p>
                <p>Ошибки преобразования: Если вы пытаетесь преобразовать данные неправильного формата, Python выдаст ошибку. 
                    Например, вы не сможете преобразовать строку, содержащую буквы, в число.
                    <pre><code>s = "abc"<br/>num = int(s)  # Выдает ValueError</code></pre>
                </p>
                <p>Строки и числа: Строки представляют собой последовательности символов. 
                    Обратите внимание, что строку можно преобразовать 
                    в число только если она строка, представляющая именно число.
                </p>
                <p>
                    Преобразование типов данных — это основной инструмент при работе с данными в Python. Умение правильно преобразовывать данные поможет вам избежать ошибок и упростить процесс работы с различными типами информации.
                     Понимая, как и когда использовать преобразование типов, вы сможете создавать более гибкие и надежные программы.
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Напишите программу-калькулятор: пользователь вводит 2 числа, а программа выводит их сумму</p>
                <p>Найдите ошибку в программе:
                    <pre><code>s = "1.23m9"<br/>num = float(s)<br/>print(num)</code></pre>
                </p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Зачем нужно преобразовывать типы данных?</p></li>
                        <li><p>Какие существуют основные функции преобразования типов?</p></li>
                        <li><p>Какие важные моменты следует учесть при преобразовании одного типа данных в другой?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_strings_input') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='boolean_variables') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}