{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>переменные (обзор)</h2>
        <p>Курс Python (базовый). блок 2, тема 1.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>переменные</h4>
                <p>
                    Переменные — это именованные области памяти, которые используются для хранения данных. 
                    В Python переменные создаются автоматически при первом присваивании значения. 
                    Имя переменной должно начинаться с буквы или символа подчеркивания и может содержать буквы, цифры или 
                    символы подчеркивания. В переменной могут хранится значения разных типов. Наша задача в течение научиться работать 
                    с различными типами данных. Пока что научимся создавать переменную.           
                </p>
                <p>
                    Создание переменной:
                    <pre><code>num = 2<br/>name = "john doe"</code></pre>
                </p>
                <p>Здесь мы определили две переменные
                    <ul>
                        <li><p>переменная num хранит значение 2 (число)</p></li>
                        <li><p>переменная name хранит значение john doe (строку)</p></li>
                    </ul>
                </p>
                <p>
                    Теперь если мы выведем переменные на экран уже известной командой print,
                    то увидим в консоли значения созданных переменных:
                    <pre><code>print(num)<br/>print(name)</code></pre>
                </p>
                <p>Названия переменных должны отражать суть значения, а так же не являться ключевым словом.
                    Ключевые слова:
                    <pre>
                        <code>
                            False      await      else       import     pass
                            None       break      except     in         raise
                            True       class      finally    is         return
                            and        continue   for        lambda     try
                            as         def        from       nonlocal   while
                            assert     del        global     not        with
                            async      elif       if         or         yield
                        </code>
                    </pre>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>типы данных</h4>
                <p>
                    Как мы уже узнали, переменнная может хранить значение различных типов. Со всеми типами данных 
                    мы разберемся в ходе курса, а в этом блоке научимся обрабатывать переменные и строки. Тем не 
                    менее приведем список типов данных в Python:  
                    <ul>
                        <li>
                            <p>
                                Числовые типы:<br/>
                                - int — целые числа (например, 42)<br/>
                                - float — числа с плавающей запятой (например, 3.14)<br/>
                                - complex — комплексные числа (например, 1 + 2j)<br/>
                            </p>
                        </li>
                        <li>
                            <p>
                                Строки:<br/>
                                - str — последовательности символов (например, "Hello, World!")
                            </p>
                        </li>
                        <li>
                            <p>
                                Булевый тип:<br/>
                                - bool — логические значения (True, False)
                            </p>
                        </li>
                        <li>
                            <p>
                                Списки:<br/>
                                - list — упорядоченные изменяемые коллекции (например, [1, 2, 3, "apple"])
                            </p>
                        </li>
                        <li>
                            <p>
                                Кортежи:<br/>
                                - tuple — упорядоченные неизменяемые коллекции (например, (1, 2, 3))
                            </p>
                        </li>
                        <li>
                            <p>
                                Множества:<br/>
                                - set — неупорядоченные коллекции уникальных элементов (например, {1, 2, 3})
                            </p>
                        </li>
                        <li>
                            <p>
                                Словари:<br/>
                                - dict — неупорядоченные коллекции пар "ключ-значение" (например, {"name": "Alice", "age": 30})
                            </p>
                        </li>
                        <li>
                            <p>
                                NoneType:<br/>
                                - None — специальное значение, обозначающее отсутствие значения или "пустоту"
                            </p>
                        </li>
                    </ul> 
                    <p>Существуют еще некоторые типы данных, которые встречаются реже, например байтовые последовательности</p>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Напишите программу, которая выводит в консоль переменную, значение переменной укажите сами в коде программы.</p>
                <p>
                    Найдите ошибку в программе:
                    <pre><code>True = "True"<br/>print(True)</code></pre>
                </p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Что такое переменная?</p></li>
                        <li><p>Какие существуют правила наименования переменных?</p></li>
                        <li><p>Какие типы данных есть в Python?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card"><a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a></p></div>
        </div>        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='first_program') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_numbers') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}