{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>строки. пользовательский ввод</h2>
        <p>Курс Python (базовый). блок 2, тема 3.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>строки</h4>
                <p>
                    В этой лекции мы углубимся в работу со строками в языке Python, посмотрим, как они хранятся в памяти, 
                    а также рассмотрим основные методы работы со строками и как получать пользовательский ввод.

                    Строки в Python — это последовательности символов, используемые для представления текстовой информации.
                    Они могут заключаться в одинарные (' ') или двойные кавычки (" "). Например:
                    <pre><code>s1 = 'Привет, мир!'<br/>s2 = "Python - это просто!" </code></pre>
                </p>
                <p>
                    Строки нужно где-то хранить. Рассмотрим как строки хранятся в памяти.

                    Строки в Python хранятся в виде неизменяемых (immutable) объектов. 
                    Это означает, что после создания строки её нельзя изменить.
                    Каждое изменение строки приводит к созданию новой строки в памяти. 
                    Это к примеру экономит память в 
                    случае повторного использования одинаковых строк.
                </p>
                <p>
                    В Python строки являются последовательностью символов и поддерживают индексацию, 
                    что позволяет обращаться к отдельным символам по их позициям. Индексация начинается с нуля,
                     поэтому первый символ строки имеет индекс 0, второй — 1, и так далее. Для обращения к символу
                      строки можно использовать квадратные скобки []. Например:
                      <pre><code>my_string = "Привет!"<br/>first_character = my_string[0]  # Получаем первый символ: 'П'<br/>last_character = my_string[-1]   # Получаем последний символ: '!'<br/><br/>print(first_character)  # Вывод: П<br/>print(last_character)   # Вывод: !<br/></code></pre>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>основные методы работы со строками</h4>
                <p>
                    Python предоставляет множество встроенных методов для работы со строками. Рассмотрим основные:
                    <ul>
                        <li>
                            <p>
                                len(): Вернуть длину строки.
                                <pre><code>s = "Программирование"<br/>length_s = len(s)  # Вернет 16</code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                upper() и lower(): Преобразовать строку в верхний или нижний регистр.
                                <pre><code>s = "Привет"<br/>s_upper = s.upper()  # Вернет 'ПРИВЕТ'<br/>s_lower = s_lower()  # Вернет 'привет'</code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                strip(): Удалить пробелы в начале и конце строки.
                                <pre><code>s = "  Привет, мир!   "<br/>s_cleaned = s.strip()  # Вернет 'Привет, мир!'</code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                split(): Разделить строку на части по заданному разделителю. Эти части формируют тип данных список,
                                который в отличие от обычной переменной может хранить множество значений. За это свойство 
                                список называется коллекцией. О коллекциях вы узнаете совсем скоро, а пока следует запомнить этот важный метод.
                                <pre><code>s = "яблоко, груша, банан"<br/>fruits = s.split(", ")  # Вернет ['яблоко', 'груша', 'банан']</code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                replace(): Заменить одну часть строки другой.
                                <pre><code>s = "Привет, мир!"<br/>new_s = s.replace("мир", "Python")  # Вернет 'Привет, Python!'</code></pre>
                            </p>
                        </li>
                        <li>
                            <p>
                                find(): Найти позицию первого вхождения подстроки.
                                <pre><code>s = "Привет, мир!"<br/>position = s.find("мир")  # Вернет 8</code></pre>
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>конкатенация</h4>
                <p>
                    Конкатенация — это операция, в результате которой объединяются две или более последовательности (строки, списки и т. д.) в одну. 
                    В Python конкатенация строк и списков осуществляется с помощью оператора +.
                    <pre><code>s1 = "Привет, "<br/>s2 = "мир!"<br/>concatenaded_string = s1 + s2<br/>print(concatenaded_string)  # Вывод: "Привет, мир!"</code></pre>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>пользовательский ввод. конкатенация строк.</h4>
                <p>
                    Получение пользовательского ввода в Python осуществляется с помощью функции input().
                     Всё, что вводит пользователь, воспринимается как строка. Это очень важно! Если мы
                     хотим получить от пользователя число, необходимо введенную преобразовать в нужный тип числа,
                     об этом в следующей теме блока.
                    <pre><code>name = input("Введите ваше имя: ")<br/>print("Здравствуйте, " + name + "!")</code></pre>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Напишите программу: пользователь вводит две строки, фамилия и имя, программа выводит приветствие
                    "Добро пожаловать, [фамилия] [имя]!"
                </p>
                <p>Напишите программу: пользователь вводит строку, выведите длину строки, каждый второй, каждый третий символ.
                </p>
                <p>Напишите программу: объявите строку со значением "  какая-то строка   ". Удалите в ней пробелы по бокам, переведите в 
                    верхний регистр и замените подстроку "какая-то" на "такая-то"
                </p>
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Что такое строки и как они хранятся?</p></li>
                        <li><p>Какие существуют основные операции со строками?</p></li>
                        <li><p>Как получить ввод пользователя?</p></li>
                        <li><p>Каким типом данных является введенная пользователем переменная?</p></li>
                        <li><p>Расскажите про конкатенацию</p></li>
                        <li><p>Расскажите про срез</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_numbers') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='variables_convertion') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}