{% extends "layout.html" %} 
{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
{% endblock %}
{% block content %}
    <main id="main" class="flexbox-col">
        <h2>цикл while</h2>
        <p>Курс Python (базовый). блок 4, тема 2.</p>
        <div class="content-divider-top"></div>
        <div class="card-wrapper">
            <div class="card">
                <h4>цикл while</h4>
                <p>
                    Цикл while выполняет блок кода, пока заданное условие истинно (True). 
                    Основной синтаксис выглядит следующим образом: 
                    <pre><code>while условие:<br/>    # Блок кода, который будет выполняться,<br/>    # пока условие истинно</code></pre>
                </p>
                <p>    
                    Рассмотрим простой пример, чтобы проиллюстрировать, как работает цикл while. 
                    Допустим, мы хотим вывести числа от 1 до 5.
                    <pre><code>i = 1<br/>while i <= 5:<br/>    print(i)<br/>    i += 1  # Увеличиваем значение i на 1</code></pre>
                </p>
                <p>
                    В этом примере:
                    <ul>
                        <li><p>Переменная i инициализируется значением 1.</p></li>
                        <li><p>Цикл while проверяет условие i <= 5. Если условие истинно, выполняется блок кода внутри цикла.</p></li>
                        <li><p>Внутри цикла выводится текущее значение i, а затем i увеличивается на 1.</p></li>
                        <li><p>Когда i становится равным 6, условие становится ложным, и цикл заканчивается.</p></li>
                    </ul>
                </p>
                <p>
                    Если не обновлять переменную условия внутри цикла или если условие всегда истинно, это приведет к 
                    бесконечному циклу. Например:
                    <pre><code>while True:<br/>    print("Этот цикл никогда не остановится.")</code></pre>
                </p>
                ]<p>
                    Чтобы выйти из бесконечного цикла, можно использовать оператор break. Например:
                    <pre><code>count = 0<br/>while True:<br/>    count += 1<br/>    print(count)<br/>    if count >= 5:<br/>        break  # Прерываем цикл, когда count достигнет 5</code></pre>
                </p>
                <p>
                    Цикл while полезен в ситуациях, когда количество итераций невозможно заранее определить. 
                    Например, это может быть полезно для обработки пользовательского ввода:
                    <pre><code>user_input = ''<br/>while user_input.lower() != 'exit':<br/>    user_input = input("Введите 'exit' для выхода: ")<br/>    print("Вы ввели:", user_input)</code></pre> 
                </p>
                <p>
                    В этом примере цикл продолжается до тех пор, пока пользователь не введет команду exit.
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <h4>задания</h4>
                <p>Задача 1: Сумма чисел от 1 до N  
                    Напишите программу, которая запрашивает у пользователя число N и находит сумму всех целых чисел от 1 до N.
                     Используйте цикл while для выполнения этой задачи.</p>
                    
                <p>Задача 2: Угадай число  
                Создайте простую игру, в которой программа загадывает случайное число от 1 до 100,
                 а пользователь должен угадать его. Программа должна запрашивать ввод числа у пользователя 
                 до тех пор, пока он не угадает загаданное число. При каждом неправильном вводе программа должна 
                 сообщать, больше или меньше загаданное число. Используйте цикл while для реализации этой игры.</p>
                
                <p>Задача 3: Факториал числа  
                Напишите программу, которая запрашивает у пользователя неотрицательное целое число N и вычисляет 
                его факториал (N!). Факториал числа N — это произведение всех положительных целых чисел от 1 до N. 
                Реализуйте решение с помощью цикла while.</p>
                
                <p>Задача 4: Показатель степени  
                Создайте программу, которая запрашивает у пользователя два числа: основание и показатель степени.
                 Программа должна вычислить и вывести результат возведения основания в указанный показатель с использованием 
                 цикла while. Например, если пользователь ввел 2 и 3, программа должна вычислить 2^3 (что равно 8). Помните, 
                 что всякий раз, когда пользователь вводит показатель 0, результат должен быть 1, а для отрицательных 
                 показателей следует обрабатывать отдельно.</p>
                
                <p> Проверьте себя и ответьте на вопросы:
                    <ul>
                        <li><p>Как работает цикл while?</p></li>
                        <li><p>Где применяется цикл while?</p></li>
                        <li><p>Что такое break?</p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <a id="back-link" href="{{ url_for('get_course', course_name='python_basic') }}">назад к курсу</a>
                <a id="prev-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='for_loop') }}">предыдущая тема</a>
                <a id="next-theme-link" href="{{ url_for('get_theme', course_name='python_basic', theme_name='collections_list') }}">следующая тема</a>
            </div>
        </div>
        <div class="content-divider-bottom"></div>
    </main>
{% endblock %}